$color-dark: #333;
$color-black: #000;
$color-white: #fff;
$color-blue: #00a9ff;
$color-green: #029402;

$breakpoint-desktop: 1440px;
$breakpoint-laptop: 1152px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 375px;

$container-max-width: 1440px;
$section-padding-laptop: 64px;
$section-padding-tablet: 32px;
$section-padding-mobile: 16px;
